@import 'reset';
@import 'font';
@import 'vars';

html {
  font-size: 10px;

  @media (max-width: 1366px) {
    font-size: 7px;
  }

  @media (max-width: 1024px) {
    font-size: 5px;
  }
}

body {
  font-family: 'SF Pro Text';
  font-size: 1.5rem;
  color: $black;
}

// block
@import './blocks/container';
@import './blocks/header';
@import './blocks/nav';
@import './blocks/btn';
@import './blocks/intro';
@import './blocks/features';
@import './blocks/cat';
@import './blocks/coupon';
@import './blocks/form';
@import './blocks/reviews';
@import './blocks/about';
@import './blocks/contact';
@import './blocks/footer';
@import './blocks/slick';
@import './blocks/burger';
