.burger {
  width: 30px;
  height: 30px;
  margin-right: 2rem;
  display: none;
  padding: 0;
  border: 0;
  background: none;

  @media (max-width: 800px) {
    display: block;
  }
}

.burger__icon {
  display: block;
  max-width: 100%;
  height: auto;
}
