.header {
  position: relative;

  @media (max-width: 800px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $white;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3.5rem 0;

  @media (max-width: 500px) {
    padding: 1rem 0;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  & img {
    @media (max-width: 500px) {
      width: 15rem;
    }
  }
}
.header__img2 {
  display: inline-block;
  transform: translateX(-4px);
}
