.intro {
  display: flex;
  align-items: center;

  margin-bottom: 6.45rem;

  @media (max-width: 800px) {
    padding-top: 15rem;
  }
}

.intro__inner {
  display: flex;
  align-items: center;
  text-align: left;
  min-height: 58rem;

  background: linear-gradient(
    68deg,
    #fecd6a 0.15%,
    #ff7777 15.63%,
    rgba(0, 43, 197, 0.21) 36.51%,
    rgba(32, 188, 255, 0) 51.21%,
    rgba(210, 255, 113, 0) 70.77%,
    rgba(113, 255, 153, 0) 90.08%,
    rgba(192, 128, 255, 0) 100%
  );

  position: relative;
}

.intro__content {
  width: 43rem;
  margin: 0 auto;

  @media (max-width: 650px) {
    margin-left: 35rem;
    text-align: center;
  }

  @media (max-width: 500px) {
    margin-left: 20rem;
  }
}

.intro__title {
  margin-bottom: 1.6rem;

  font-size: 4.8rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 5.7rem;
  color: $black;

  @media (max-width: 650px) {
    font-size: 4rem;
  }
}

.intro__text {
  margin-bottom: 4.6rem;

  font-size: 1.5rem;
  color: $black;
  font-weight: 500;
  text-transform: uppercase;
}

.intro__photo {
  width: 50%;

  & img {
    @media (max-width: 1024px) {
      width: 350px;
    }
    @media (max-width: 800px) {
      width: 300px;
    }
    @media (max-width: 650px) {
      width: 0;
    }
  }
}
